body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 660px;
  font-size: 16px;
  background-color: #f9f9f9;
}

span[type=button],
div[type=button] {
  appearance: none;
  -webkit-appearance: none;
}

.copy-w{
  text-align: center;
  font-size: 12px;
  color: #555;
  margin: 3rem auto 0rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
  max-width: 240px;
}

@media print {
  .header-w,
  .controls-w,
  .copy-w {
    display: none !important;
  }
  .reports-w{
    box-shadow: none !important;
    border: none !important;
  }
}
